*{
    margin: 0;
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
/* common style */
body{
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #abfcdd; */
}
.primary-button{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px;
    border: 0;
    border-radius: 8px;
    background: #FFCB66;
}
.section-heading{
    color: #160041;
    font-size: 48px;
    font-weight: 700;
}
.sub-heading{
    color: #160041;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}
.sub-description{
    color: #8A8A9B;
    font-size: 18px;
    font-weight: 400;
}
/* navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 100px;
}
.logo{
    padding-top: 4px;
}
.list-menu{
    display: flex;
    align-items: center;
}
.list-menu > ul{
    display: flex;
    text-decoration: none;
}
ul li, a{
    display: flex;
    text-decoration: none;
    margin-right: 1em;
    color: #21203C;
    font-size: 18px;
    font-weight: 600;
}
/* banner style */
.banner{
    background-size: cover;
    padding: 100px 0;
    background: #FFCB66;
    display: flex;
    flex-direction: column;
}
.banner-heading{
    color: #160041;
    text-align: center;
    font-size: 72px;
    font-weight: 800;
    justify-content: center;
    padding: 0 100px;
}
.banner-description{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 40px 290px;
}
.searchbar{
    margin-top: 40px;
    text-align: center;
}
.searchbar > input{
    color: #8A8A9B;
    font-size: 18px;
    font-weight: 600;
    padding: 30px 500px 30px 30px;
    border: 0;
    border-radius: 16px;
    background: #FFF;
    outline: none;
    box-shadow: 10px 20px 24px 0px rgba(75, 75, 75, 0.05);
}
#search{
    margin-left: -125px;
    padding: 15px 25px;
}
/* home service style */
.home-service-to-you{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 70px;
    gap: 30px;
}
.home-service{
    width: 50%;
}
.home-service img{
    width: 100%;
    border-radius: 20px;
    margin-top: 1em;
}
.service-container{
    display: grid;
    grid-template-columns: repeat(2, 15em);
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 59%;
}
/* user-friendly style */
.user-friendly{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 100px 70px;
}
.user-friendly-container{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 0 20px;
    margin-top: 1em;
}
.container-number{
    color: #FFCB66;
    font-size: 48px;
    font-weight: 800;
}
/* popular discount style */
.popular-discount{
    margin: 100px 70px;
}
.section-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.countdown{
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.countdown > p{
    color: #8A8A9B;
    font-size: 24px;
    font-weight: 400;
}
.countdown p span{
    color: #F8B948;
    font-size: 36px;
    font-weight: 700;
    margin: 0 5px 0 10px;
}
/* popular discount style burger chart*/
.discount-container{
    margin-top: 5em;
    display: flex;
    gap: 20px;
}
.discount-item{
    width: 49%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 20px 24px 0px rgba(0, 0, 0, 0.05);
}
.discount-item img{
    width: 100%;
    border-radius: 20px;
}
.discount-info{
    padding: 3em 4em;
}
.food-name{
    color: #433A2A;
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 18px;
}
.price-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2em;
    margin-top: 2em;
}
.discount-price{
    color: #F8B948;
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}
.regular-price{
    color: rgba(248, 185, 72, 0.20);
    font-family: "Open Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.5px;
}
.buy-button{
    margin-left: 18px;
    border: 0;
    padding: 10px 18px;
    border-radius: 20.5px;
    background: #F8B948;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}
/* food list for you style */
.food-list-for-you{
    margin: 100px 70px;
}
.search-bar{
    border: 0;
    border-radius: 28px;
    background: #ffffff;
    box-shadow: 10px 20px 24px 0px rgba(75, 75, 75, 0.05);
    color: #8A8A9B;
    font-size: 18px;
    font-weight: 400;
    padding: 15px 250px 15px 25px;
    outline: none;
}
.search-option > select{
    border-radius: 28px;
    background: #FFCB66;
    padding: 15px 40px 15px 50px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: 0;
}
.search-option label > i{
    position: absolute;
}
.search-icon{
    padding: .8em .8em .8em 18em;
    color: #FFCB66;
    font-size: 1.5rem;
    text-align: center;
}
.food-list-container{
    margin: 4em 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.food-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.food-item img{
    width: 100%;
    border-radius: 193px;
    margin: 20px 0;
}
.stars{
    color:#FFCB66;
}
/* Express Delivery style */
.express-delivery{
    margin: 100px 70px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: end;
}
.express-delivery-part > img{
    width: 100%;
    border-radius: 20px;
}
.express-delivery-part{
    width: calc((100% - 10px)/2);
    margin-top: 25px;
}
.form-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: #f8f6f6;
    padding: 60px 0px;
}
.form-container label > i{
    position: absolute;
}
.icon{
    margin: 5px;
    padding: 1em 3.2em;
    color: #FFCB66;
    font-size: 1.5rem;
    text-align: center;
}
.form-container label input{
    border-radius: 10px;
    background: #FFF;
    color: #8A8A9B;
    font-size: 18px;
    font-weight: 400;
    padding: .8em 4em;
    margin: .7em 3em;
}
.recharge-now{
    margin: .5em 3.5em;
    width: 30%;
    border: 0;
    padding: 18px 10px;
    border-radius: 20.5px;
    background: #F8B948;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}























/* responsive small device */
@media screen and (max-width:576px){
    .home-service-to-you, .user-friendly-container, .discount-container, .section-head{
        flex-direction: column;
    }
    .home-service, .discount-item, .express-delivery-part{
        width: 100%;
    }
    .home-service-to-you, .user-friendly, .popular-discount, .food-list-for-you, .express-delivery{
        margin: 100px 20px;
    }
    .primary-button{
        font-size: 16px;
        font-weight: 600;
        padding: 8px 15px;
        border: 0;
        border-radius: 8px;
        background: #FFCB66;
    }
    .service-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .navbar{
    margin: 20px 30px;
    }
    .list-menu{
        display: none;
    }
    .banner-heading, .section-heading{
        font-size: 36px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .banner-description{
        font-size: 16px;
        padding: 20px 20px;
    }
    .searchbar > input{
        padding: 20px 100px;;
    }
    .discount-info{
        padding: 1.5em 2em;
    }
    .food-list-container{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
    }
    .search-bar{
        padding: 10px 50px 10px 20px;
        font-size: 16px;
    }
    .search-option > select{
        padding: 10px 0 10px 20px;
        font-size: 16px;
    }
    .search-icon{
        padding: .5em .8em .5em 9em;
    }
    .express-delivery{
        flex-direction: column;
    }
    .countdown > p span{
        font-size: 26px;
    }
    .form-container label input{
        padding: .8em 2.5em;
        margin: .7em 3em;
    }
    .recharge-now{
        width: 40%;
    }
    
}
/* for medium device  */
@media screen and (min-width:576px) and (max-width:992px) {
    .primary-button, .buy-button{
        font-size: 16px;
        font-weight: 600;
        padding: 7px 20px;
        border: 0;
        border-radius: 8px;
        background: #FFCB66;
    }
    .home-service-to-you, .user-friendly-container, .discount-container, .section-head, .express-delivery{
        flex-direction: column;
    }
    .home-service, .discount-item, .express-delivery-part{
        width: 100%;
    }
    .home-service-to-you, .user-friendly{
        margin: 100px 30px;
    }
    .section-heading{
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .service-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: 100%;
    }
    .navbar{
    margin: 20px 30px;
    }
    .list-menu ul{
        display: none;
    }
    .banner-heading{
        font-size: 36px;
        padding: 0 10px;
    }
    .banner-description{
        font-size: 16px;
        padding: 20px 20px;
    }
    .searchbar > input{
        padding: 20px 200px;;
    }
    .food-list-container{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
    }
    .form-container label input{
        padding: .8em 10em .8em 5em;
    }
}